# G-CI-16: keep line endings stable across checkouts. GitHub Windows runners
# default core.autocrlf=true, which converts LF to CRLF and changes the
# hashes that the G17 license-inventory test compares.
* text=auto
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.mjs text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
